<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <title>Yofe Eats</title>
</head>
<body>
    <header>
        <p>
            Eat healthy, Live well <br>
            Your health, Our priority
        </p>
        <h4 id="logo"><a href="/">Yofe Eats</a></h4>

        <nav>
            <a href="/offers">Offers</a>
            <a href="/contact">Account</a>
            <a href="/menu">Menu</a>
        </nav>
    </header>