.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.menu-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .menu-item-img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 8px;
    }

    h3,
    p {
        margin: 0;
    }

    .menu-item-description {
        line-height: 1.5;
        min-height: 4.5em;
        max-height: 4.5em;
        overflow: hidden;
    }

    .menu-item-action {
        margin-top: auto;
        padding-top: 8px;
    }

    form {
        display: flex;
        align-items:center;
        justify-content: space-between;
        gap: 10px;
    }

}

.price {
    font-size: 1.2em;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 0;
}

.btn {
    
    .add-btn {
        font-size: 1.5em;
        line-height: 1;
    }
}


.category-filter {
    margin: 20px 0;
}

.category-filter a {
    display: inline-block;
    margin-right: 15px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50px;
    color: var(--text-color);
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

    &:hover {
        transform: translateY(-2px);
        background: var(--text-color-light);
    }
    
    &.active {
        background: var(--text-color-light);
    }
}



