<%- include('../partials/header.ejs') %>

    <main id="home">
        
        <div id="hero">
            <h1>Eating will now feel differents</h1>
            <!-- <p>Discover delicious meals delivered right to your door.</p> -->
        </div>
    </main>

<%- include('../partials/footer.ejs') %>